@media (max-width: 767px) {
  .contact {
    padding-top: 20px;
  }
  .contact-info {
    flex-direction: column;
  }
  .contact-info > div {
    margin: 0 auto;
    margin-bottom: 150px;
  }
  .contact-info div.contact-card {
    width: 400px;
    height: fit-content;
    height: 600px;
  }
  .contact-info div.contact-card .image {
    height: 380px;
  }
  .contact-info div.contact-card button {
    margin-top: 40px;
  }
}