.knowDoctors {
  background-image: url('../../assets/KnowDoctors/hospitals.webp');
}
.knowDoctors:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.649);
}