@media (max-width: 767px) {
  .footerContent {
    flex-direction: column;
    
  }
  .footerContent > div {
    margin-bottom: 50px;
    padding-left: 30px;
  }
  .footer > footer .footer-bar-content {
    flex-direction: column;
  }
  .footer > footer .footer-bar-content span {
    margin: 0 auto;
    margin-bottom: 5px;
  }
}